<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Ten Tho Column -->
    <ng-container matColumnDef="Ten Tho">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ten Tho </th>
      <td mat-cell *matCellDef="let row"> {{row.staffID}} </td>
    </ng-container>

    <!-- Khuon Column -->
    <ng-container matColumnDef="Khuon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Khuon </th>
      <td mat-cell *matCellDef="let row"> {{row.receivedItem}} </td>
    </ng-container>

    <!-- Loai Toc Column -->
    <ng-container matColumnDef="Loai Toc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Loai Toc </th>
      <td mat-cell *matCellDef="let row"> {{row.lashType}} </td>
    </ng-container>

    <!-- So Day Column -->
    <ng-container matColumnDef="So Day">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> So Day </th>
      <td mat-cell *matCellDef="let row"> {{row.numberLinesReturned}} </td>
    </ng-container>

    <!-- Tien Cong Column -->
    <ng-container matColumnDef="Tien Cong">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tien Cong </th>
      <td mat-cell *matCellDef="let row"> {{row.salary}} </td>
    </ng-container>

    <!-- Tong Tien Column -->
    <ng-container matColumnDef="Tong Tien">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tong Tien </th>
      <td mat-cell *matCellDef="let row"> {{row.total}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="openDialog(row)">pageview</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
