@import "../../../styles.scss";

.staff-edit-card {
  max-width: 500px;
  margin: auto;
  padding-bottom: 10px;
}

  textarea {
    height: 140px;
  }

  .staff-edit-address{
    width:95%;
  }

  mat-card-content{
    margin-left: 10px;
    margin-right: 10px;
  }

  mat-card-actions{
    margin: 10px 0px 0px 10px !important;
  }