@import "../../../styles.scss";

.staff-edit-card {
  min-width: 500px;
  width: 50%;
  margin: auto;
}

.staff-edit-card-header{
  background-color: mat-color($fav-theme-accent);
  border-bottom: 1px solid #c8ced3;
}

.staff-edit {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
