@import "../../../styles.scss";

.staff-edit-card {
  max-width: 500px;
  margin: auto;
}

.staff-edit-card-header{
  background-color: mat-color($fav-theme-accent);
  border-bottom: 1px solid #c8ced3;
}

  textarea {
    height: 140px;
  }

  .staff-edit-address{
    width:95%;
  }
