/* You can add global styles to this file, and also import other style files */
//@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';
//@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
//@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'fav-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-title{
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

.mat-form-field {
    width: 90%;
}

.save-button {
    background: mat-color($fav-theme-save);
}

.mat-card{
    padding-top:0px;
}