
@import "../../../styles.scss";

.staff-table-card-header{
  background-color: mat-color($fav-theme-accent);
}

mat-grid-list{
  margin: 10px;
}

mat-grid-tile {
  height: 90px !important;
}
.staff-table-field-note {
  height: 140px !important;
}
.staff-table-field-note textarea{
  height: 40px;
}

.staff-table-field input{
  text-align:  right;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }